.abilities-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 100px);
  justify-items: left;
}

.ability {
  width: calc(100% - 10px);
  padding-right: 10px;
  padding-bottom: 10px;
}

.ability-name {
  text-transform: capitalize;
}

.ability-change-control {
  width: 50%;
  height: 50px;
  margin-top: 3px;
}

.ability table {
  width: 100%;
  border: 0;
  border-spacing: 0;
}

.ability th {
  padding: 0;
  font-weight: normal;
  text-align: left;
}

.ability td {
  padding: 0;
  font-weight: bold;
  text-align: right;
}
