.abilities-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 160px);
  justify-items: left;
}

.ability {
  width: calc(100% - 20px);
  padding-right: 20px;
  padding-bottom: 10px;
}

.ability-name {
  text-transform: uppercase;
  text-align: center;
}

.ability-change-control {
  -webkit-appearance: none;
  font-size: 2em;
  font-weight: bold;
  padding-bottom: 4px;
  margin: 2px;
  width: calc(50% - 4px);
  height: 50px;
  margin-top: 4px;
  border-radius: 8px;
}

.ability table {
  margin: 0 auto;
  border: 0;
  border-spacing: 0;
}

.ability th {
  padding: 0;
  font-weight: normal;
  text-align: left;
  padding-right: 5px;
}

.ability td {
  padding: 0;
  font-weight: bold;
  text-align: right;
}
