.abilities-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 100px);
  justify-items: left;
}

.ability {
  padding-right: 10px;
  padding-bottom: 10px;
}

.ability-name {
  text-transform: capitalize;
}

.ability-change-control {
  width: 50%;
  height: 50px;
}

.ability table {
  border: 0;
}

.ability th {
  font-weight: normal;
  text-align: left;
}
.ability td {
  font-weight: bold;
  text-align: right;
}

