.app {
  padding: 20px;
}

.app h1 {
  font-size: 1.5em;
  padding: 0;
  margin: 0 0 10px 0;
}

.abilities-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 110px);
  justify-items: left;
}

.ability {
  padding-right: 20px;
  padding-bottom: 20px;
}

.ability-name {
  text-transform: capitalize;
}

.ability-change-control button {
  width: 90px;
  height: 75px;
}

.points-container {
  margin-bottom: 10px;
}

.points {
  font-size: 2em;
}
